.u-section-1 .u-sheet-1 {
  min-height: 4964px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 1696px;
  grid-auto-columns: 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 0 45px 0 15px;
}

.u-section-1 .u-metadata-1 {
  margin: -7px auto 0 15px;
}

.u-section-1 .u-image-1 {
  height: 316px;
  width: 535px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-family: Asap;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 0 45px 0 15px;
}

.u-section-1 .u-metadata-2 {
  margin: -7px auto 0 15px;
}

.u-section-1 .u-image-2 {
  height: 316px;
  width: 535px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-family: Asap;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-5 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 0 45px 0 15px;
}

.u-section-1 .u-metadata-3 {
  margin: -7px auto 0 15px;
}

.u-section-1 .u-image-3 {
  height: 316px;
  width: 535px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-family: Asap;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-7 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 0 45px 0 15px;
}

.u-section-1 .u-metadata-4 {
  margin: -7px auto 0 15px;
}

.u-section-1 .u-image-4 {
  height: 316px;
  width: 535px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-family: Asap;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-9 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 0 45px 0 15px;
}

.u-section-1 .u-metadata-5 {
  margin: -7px auto 0 15px;
}

.u-section-1 .u-image-5 {
  height: 316px;
  width: 535px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-family: Asap;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 30px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-11 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 0 45px 0 15px;
}

.u-section-1 .u-metadata-6 {
  margin: -7px auto 0 15px;
}

.u-section-1 .u-image-6 {
  height: 316px;
  width: 535px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-family: Asap;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1398px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 201px;
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    height: 201px;
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-4 {
    height: 201px;
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-5 {
    height: 201px;
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-6 {
    height: 201px;
    width: 340px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}