 .u-section-1 {
  min-height: 561px;
}

.u-section-1 .u-shape-1 {
  height: 440px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  height: 280px;
  margin-bottom: 0;
  margin-top: -220px;
}

.u-section-1 .u-gallery-1 {
  height: 440px;
  width: 1140px;
  margin: -500px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-slide-1 {
  background-image: none;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 51.44%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 100px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 100px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-slide-3 {
  background-image: none;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 51.44%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -67px;
  width: 57px;
  height: 57px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: auto;
  right: -67px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 560px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -57px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 202px;
    right: -57px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 350px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 280px;
    width: 720px;
    margin-top: -280px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    margin-top: -280px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-top: -301px;
  }

  .u-section-1 .u-carousel-control-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 288px;
}

.u-section-2 .u-text-1 {
  font-family: Asap;
  font-size: 4.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 58px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Asap;
  font-size: 1.25rem;
  margin: 15px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-text-2 {
    width: 624px;
    margin: 0 auto 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 10px 48px 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-2 {
    margin: 0 20px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 37px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin: 23px -3px 57px 3px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 732px;
}

.u-section-3 .u-text-1 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 4.5rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-2 {
  text-align: start;
  font-size: 1.125rem;
  font-family: Asap;
  margin: 0 14px;
}

.u-section-3 .u-form-1 {
  height: 221px;
  width: 753px;
  margin: 60px auto 0;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Asap;
  font-size: 1.25rem;
}

.u-section-3 .u-text-3 {
  font-size: 0.625rem;
  background-image: none;
  margin: 30px 14px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 21px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 847px;
}

.u-section-4 .u-text-1 {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  font-size: 3.75rem;
  margin: 75px auto 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 487px;
  width: 667px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 95px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.9375rem;
    margin-left: 0;
    margin-right: 0;
  }
}}html, body {
    max-width: 100%;
    overflow-x: hidden;
}